comenzando/comenzando/config.yaml
comenzando/db.sqlite3

.DS_Store

__pycache__/

# comenando
comenzando/.coverage
comenzando/.vscode

# geektime
geektime/hxnyc/hxnyc/config.yaml
geektime/.idea/*
geektime/hxnyc/db.sqlite3

# temporary files to be ignore for now
recruitment.admin.log
recruitment.performance.log